header.header {
    border-bottom: 1px solid #D8D8D8;
    background: #FAFAFA;
    height: 78px;
    align-items: center;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
    transition: 0.5s;

    nav {
        &>ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            &>li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 36px;

                &:last-child {
                    margin-right: 0;
                }

                &.dropdownn-item {
                    position: relative;
                    padding-right: 22px;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        background: url('../img/general/header-arrow.svg') no-repeat center / 100%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%) rotate(0);
                        transition: 0.5s;
                    }
                }

                &>a {
                    line-height: 130%;
                    color: $main-dark-text;
                    position: relative;
                    height: 78px;
                    display: flex;
                    align-items: center;


                    &::before {
                        content: '';
                        display: block;
                        height: 3px;
                        width: 0;
                        background: rgba(165, 225, 211, 1);
                        position: absolute;
                        bottom: 0;
                        transition: 0.5s;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }

                }

                &.active {
                    a {
                        &::before {
                            width: 100%;
                        }
                    }

                    &::after {
                        transform: translateY(-50%) rotate(-180deg);
                    }
                }
            }
        }
    }

    &.header-out {
        transform: translateY(-200px);
    }
}

.header__logo {
    max-width: 100%;

    img {
        vertical-align: top;
    }
}

.header__searchbox {
    position: relative;

    input {
        width: 100%;
        height: 42px;
        padding-left: 20px;
        padding-right: 50px;
        font-size: 16px;
        background: #fff;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        font-family: "Inter", sans-serif;
        transition: 0.5s;

        &::placeholder {
            color: #D8D8D8;
        }

        &:focus {
            border-color: rgb(53,88,110);
        }
    }

    button {
        width: 24px;
        height: 24px;
        position: absolute;
        padding: 0;
        background: transparent;
        border: none;
        right: 20px;
        top: 9px;
        cursor: pointer;

        img {
            width: 100%;
        }
    }
}

main {
    padding-top: 78px;
}

.burger,
.mobsearchshow {
    display: none;
}







// #35586E



@media(max-width:1499.8px) {

    header.header nav ul li {
        margin-right: 20px;
    }

}

@media(max-width:1399.8px) {

    header.header nav ul li.dropdownn-item {
        padding-right: 18px;
    }

    header.header nav ul li {
        margin-right: 14px;
    }

}

@media(max-width:1199.8px) {

    .header__menucolumn {
        display: none;
    }

    button.burger {
        display: block;
        position: absolute;
        top: 13px;
        right: 12px;
        width: 24px;
        height: 16px;
        border: none;
        background: transparent;
        z-index: 15;
        cursor: pointer;
        padding: 0;
        margin: 0 0 0 auto;

        &:focus {
            outline: none;
        }

        &:after,
        &:before,
        span {
            width: 100%;
            height: 2px;
            border-radius: 100px;
            position: absolute;
            display: block;
            background: rgb(53, 88, 110);
            right: 0;

        }

        &:after,
        &:before {
            content: "";
            transition: 0.3s width 0.4s;
        }

        &:after {
            top: 0px;
            left: 0px;
            margin-top: 0px;
        }

        &:before {
            bottom: 0px;
            right: 0px;
            margin-bottom: 0px;
        }

        span {
            top: 50%;
            margin-top: -1px;
            transition: 0.3s;

            &:before {
                content: "";
                background: rgb(53, 88, 110);
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                left: 0px;
                transition: 0.3s;
            }
        }

        &.on {


            &:after {
                transition: all 0.2s;
                width: 0%;
                left: 0px;
                background: rgb(53, 88, 110);
            }

            &:before {
                transition: all 0.2s;
                width: 0%;
                right: 0px;
                background: rgb(53, 88, 110);
            }

            span {
                transform: rotate(45deg);
                transition: 0.3s transform 0.4s;
                background: rgb(53, 88, 110);

                &:before {
                    transform: rotate(-90deg);
                    transition: 0.3s transform 0.4s;
                    background: rgb(53, 88, 110);
                }
            }
        }
    }

    header.header {
        .container {
            position: relative;
        }

        .col-xl-3.col-lg-9 {
            text-align: right;
        }
    }

    .header__searchbox {
        margin-right: 50px;
        max-width: 300px;
        display: inline-block;
    }



}

@media(max-width:575.8px) {
    .header__searchbox {
        display: none;
        position: absolute;
        z-index: 2;
        top: 56px;
        background: #fff;
        margin: 0;
        width: 100%;
        max-width: 100%;
        left: 0;
        padding: 12px;
        border-top: 1px solid #D8D8D8;

        &.show {
            display: block;
        }

        input {
            font-size: 16px;
            padding-left: 10px;
        }

        button {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    button.burger {
        top: 11px;
    }

    .mobsearchshow {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 50px;

        img {
            vertical-align: top;
        }
    }
}