header.header {
    border-bottom: 1px solid #D8D8D8;
    background: #FAFAFA;
    height: 78px;
    align-items: center;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
    transition: 0.5s;

    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 36px;

                &:last-child {
                    margin-right: 0;
                }

                &.dropdownn-item {
                    a {
                        padding-right: 22px;

                        &::after {
                            content: '';
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            background: url('../img/general/header-arrow.svg') no-repeat center / 100%;
                            position: absolute;
                            right: 0;
                            top: 2px;
                        }
                    }
                }


                a {
                    line-height: 130%;
                    color: $main-dark-text;
                    position: relative;
                }
            }
        }
    }

    &.header-out {
        transform: translateY(-200px);
    }
}

.header__logo {
    max-width: 100%;
}

.header__searchbox {
    position: relative;

    input {
        width: 100%;
        height: 42px;
        padding-left: 20px;
        padding-right: 50px;
        font-size: 16px;
        background: #fff;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        font-family: "Inter", sans-serif;


        &::placeholder {
            color: #D8D8D8;
        }
    }

    button {
        width: 24px;
        height: 24px;
        position: absolute;
        padding: 0;
        background: transparent;
        border: none;
        right: 20px;
        top: 9px;
        cursor: pointer;

        img {
            width: 100%;
        }
    }
}

main {
    padding-top: 78px;
}