.mainslidersection {
    padding: 20px 0 25px;
}

.mainsldslide {
    height: 600px;
    border-radius: 4px;

    .mainsldslide__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }

    h2 {
        margin: 0 0 40px 0;
        font-size: 55px;
        font-weight: 600;
        line-height: 130%;
        color: #fff;
    }

    p {
        max-width: 600px;
        color: #fff;
    }

    a {
        margin-top: 45px;
    }
}

.mainsldslide__info {
    position: relative;
    z-index: 2;
    padding: 50px 20px 0 60px;
}

.mainsldslide__logo {
    max-height: 34px;
    margin-bottom: 50px;
}

.mainslider {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #fff;
        opacity: 0.4;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        opacity: 1;
    }
}

// ---
.linkssection {

    .linkbox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #D8D8D8;
        background: rgba(#A5E1D3, 0.1);
        min-height: 117px;
        padding: 16px;
        position: relative;
        height: 100%;

        .imgwrap {
            width: 100%;
            max-width: 45px;
            flex: 0 0 45px;

            img {
                vertical-align: top;
            }
        }

        .descr {
            width: 100%;
            max-width: calc(100% - 45px);
            flex: 0 0 calc(100% - 45px);
            padding-right: 50px;
            padding-left: 15px;

            p {
                line-height: 130%;
                color: $second-text;
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .title {
                margin-bottom: 10px;
                color: $main-dark-text;
                font-weight: 500;
                font-size: 20px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .arrow {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            width: 38px;
            height: 38px;
            border-radius: 50%;
            transition: 0.3s;
            background: $accent-blue;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            svg {
                path {
                    transition: 0.3s;
                }
            }
        }

        &:hover {
            .arrow {
                background: $second-blue;
                transform: translate(4px, -50%);

                svg {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }

        &:active {
            .arrow {
                background: rgba(77, 115, 138, 1);
                transform: translate(4px, -50%);

                svg {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }

        &.biglogo {
            .imgwrap {
                width: 100%;
                max-width: 139px;
                flex: 0 0 139px;
            }

            .descr {
                max-width: calc(100% - 139px);
                flex: 0 0 calc(100% - 139px);
            }
        }

    }

}

// ---

.subscribe-section {
    padding: 80px 0;

    .imgwrap {
        text-align: right;
    }

    .subssectinfo {
        padding-left: 70px;
        max-width: 700px;

        .title {
            margin-bottom: 40px;
            font-weight: 600;
            font-size: 30px;
            color: $main-dark-text;
            line-height: 130%;
            text-transform: capitalize;
        }

        label {
            cursor: pointer;
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
            line-height: 130%;
            font-weight: 500;
            color: $second-text;
        }

        .subssectinfo__field {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 25px;

            input {
                width: 100%;
                max-width: calc(100% - 160px);
                flex: 0 0 calc(100% - 160px);
                padding-left: 15px;
                border: 1px solid #D8D8D8;
                background: #fff;
                border-radius: 4px;
                font-size: 16px;
                transition: 0.3s;

                &::placeholder {
                    color: rgba(141, 141, 141, 1);
                }

                &:focus {
                    border: 1px solid rgba(77, 115, 138, 1);
                }
            }

            button {
                border: none;
                cursor: pointer;
                width: 100%;
                max-width: 153px;
                flex: 0 0 153px;
                min-width: initial;
            }

        }

        .check-filed {
            input {
                display: none;

                &:checked+label {
                    &::after {
                        background-image: url('../img/general/check.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: $main-dark-text;
                    }
                }
            }

            label {
                padding-left: 34px;
                cursor: pointer;
                position: relative;
                color: $second-text;
                font-weight: 400;
                font-size: 16px;

                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0px;
                    width: 22px;
                    height: 22px;
                    border-radius: 4px;
                    border: 1px solid $main-dark-text;
                }
            }
        }

    }
}

// ---
.info-section {
    padding: 80px 0;

    p {
        font-size: 18px;
        color: $second-text;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .checklist {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            padding-left: 94px;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 74px;
                height: 74px;
                border-radius: 4px;
                background-color: #fff;
                border: 1px solid #D8D8D8;
                background-image: url(../img/general/check-blue.svg);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                left: 0;
                top: 0;
            }

            p {
                font-size: 16px;
                margin: 0;
            }

            .title {
                margin-bottom: 16px;
                color: $main-dark-text;
                font-size: 20px;
                font-weight: 500;
                line-height: 130%;
            }
        }
    }
}

// ---
.offerslist {
    padding: 80px 0;
}

.offerslistrow {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    margin-bottom: 20px;
    padding: 20px 0;
    position: relative;

    &>div {
        border-right: 1px solid #D8D8D8;

        &:last-child {
            border-right: none;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .offerslistrow__logos {
        width: 100%;
        max-width: 21%;
        flex: 0 0 21%;
        padding: 0 20px;
        display: flex;
        align-items: center;

        .name {
            width: 100%;

            img {
                vertical-align: top;
                width: 100%;
            }
        }
    }

    .offerslistrow__rating {
        width: 100%;
        max-width: 11%;
        flex: 0 0 11%;
        text-align: center;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .generalration {
            width: 63px;
            height: 63px;
            display: inline-flex;
            position: relative;
            align-items: center;
            justify-content: center;
            margin-bottom: 6px;

            img {
                width: 100%;
            }

            span {
                color: #333;
                line-height: 130%;
                font-weight: 700;
                font-size: 18px;
                position: absolute;
                margin-top: 4px;
            }
        }

        .stars-rating {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 116px;
            margin: 0 auto;

            img {
                width: 20px;
            }
        }
    }

    .offerslistrow__descr {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 20px;

        p {
            margin: 0;
            color: $second-text;
        }

        .title {
            margin-bottom: 16px;
            color: $main-dark-text;
            font-weight: 500;
            font-size: 25px;
            text-transform: capitalize;
        }
    }

    .offerslistrow__explore {
        width: 100%;
        max-width: 18%;
        flex: 0 0 18%;
        padding: 0 40px;
        display: flex;
        align-items: center;

        a {
            width: 100%;
            max-width: 100%;
            min-width: initial;
        }

    }
}

.offerslistrow__label {
    background: #6DC24A;
    color: #fff;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 34px;
    min-width: 72px;
    padding: 5px 10px;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 25px;
}

.offerslistrow-wrap>p {
    text-align: center;
    color: $grey;
    margin-bottom: 30px;
    font-size: 14px;
}

// ---
.bnrsection {
    position: relative;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .imgfill {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .bnrsection__descr {
        position: relative;
        z-index: 1;
        padding-bottom: 84px;
        width: 100%;
        text-align: center;

        p {
            margin-bottom: 45px;
            color: #fff;
            font-size: 40px;
            font-weight: 600;
            line-height: 130%;
        }
    }
}

// ---
.discovermore {
    padding: 80px 0;

    .discovermore__box {
        border: 1px solid #D8D8D8;
        display: block;
        border-radius: 4px;
        overflow: hidden;
        position: relative;

        .imgwrap {
            background: #EEF7F5;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &.big {
            .imgwrap {
                height: 323px;
                border-bottom: 1px solid #D8D8D8;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .descrwrap {
                padding: 30px 30px 40px 30px;
                position: relative;
                height: 177px;

                p {
                    color: $second-text;
                    padding-right: 78px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .title {
                    margin-bottom: 20px;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 130%;
                    color: $main-dark-text;
                    padding-right: 0;
                }

                .arrow {
                    position: absolute;
                    right: 30px;
                    bottom: 40px;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    transition: 0.3s;
                    background: $accent-blue;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        path {
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        &.small {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 22px;
            height: 240px;

            &:last-child {
                margin-bottom: 0;
            }

            .imgwrap {
                width: 100%;
                max-width: 240px;
                flex: 0 0 240px;
                border-right: 1px solid #D8D8D8;
            }

            .descrwrap {
                width: 100%;
                max-width: calc(100% - 240px);
                flex: 0 0 calc(100% - 240px);
                padding: 30px;

                p {
                    color: $second-blue;
                    margin: 0;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .title {
                    margin-bottom: 20px;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 130%;
                    color: $main-dark-text;
                }

                .arrow {
                    position: relative;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    transition: 0.3s;
                    background: $accent-blue;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 35px;

                    svg {
                        path {
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        &:hover {
            .arrow {
                background: $second-blue !important;
                transform: translateX(4px);

                svg {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }

        &:active {
            .arrow {
                background: rgba(77, 115, 138, 1);
                transform: translateX(4px);

                svg {
                    path {
                        stroke: #fff;
                    }
                }
            }
        }
    }
}

// ---

.articlessection {
    padding: 80px 0;
    background: rgba(#35586E, 0.07);
}

.articlebox {
    display: block;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    border: 1px solid #D8D8D8;

    &:hover {
        .articlebox__img {
            img {
                transform: scale(1.1);
            }
        }

        .articlebox__descr {
            &::after {
                width: 100%;
            }
        }

    }
}

.articlebox__img {
    height: 260px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        transform: scale(1.01);
        transition: 0.8s;

    }
}

.articlebox__descr {
    height: 235px;
    padding: 25px 20px 30px 20px;
    background: #fff;

    h6 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 16px;
        color: #121212;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
    }

    .descr {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $second-text;
        margin-bottom: 16px;
    }

    .date {
        margin: 0;
        color: $grey;
    }

    &::after {
        content: '';
        display: block;
        height: 4px;
        width: 0;
        background: rgba(165, 225, 211, 1);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.8s;
        right: 0;
        margin: 0 auto;
    }
}

@media(max-width:1599.8px) {

    .mainsldslide h2 {
        font-size: 50px;
        line-height: 120%;
    }

    .mainsldslide__logo {
        margin-bottom: 40px;
    }

    .linkssection .linkbox .descr .title {
        font-size: 18px;
    }

    .info-section .checklist li .title {
        margin-bottom: 10px;
    }

    .info-section .checklist li {
        margin-bottom: 30px;
    }

    .info-section .checklist li:after {
        width: 60px;
        height: 60px;
        background-size: 30px;
    }

    .info-section .checklist li {
        padding-left: 80px;
    }

    .offerslistrow .offerslistrow__logos .name {
        text-align: center;

        img {
            width: 90%;
        }
    }

    .offerslistrow .offerslistrow__descr .title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .offerslistrow .offerslistrow__explore {
        padding: 0 30px;
    }

    .offerslistrow {
        margin-bottom: 10px;
    }

    .discovermore .discovermore__box.big .imgwrap {
        height: 280px;
    }

    .discovermore .discovermore__box.big .imgwrap img {
        max-height: 90%;
    }

    .discovermore .discovermore__box.big .descrwrap .title,
    .discovermore .discovermore__box.small .descrwrap .title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .discovermore .discovermore__box.big .descrwrap {
        padding: 30px;
    }

    .discovermore .discovermore__box.small {
        height: 218px;
    }

    .discovermore .discovermore__box .imgwrap img {
        max-width: calc(100% - 40px);
        max-height: calc(100% - 40px);
    }

    .discovermore .discovermore__box.small .descrwrap .arrow {
        margin-top: 30px;
    }

    .discovermore .discovermore__box.small .descrwrap {
        padding: 20px 30px;
    }

    .articlebox__img {
        height: 240px;
    }



    .bnrsection .bnrsection__descr p {
        font-size: 36px;
    }

    .offerslistrow .offerslistrow__rating .generalration span {
        font-size: 16px;
    }

}

@media(max-width:1499.8px) {

    .bnrsection {
        height: 500px;
    }

}

@media(max-width:1399.8px) {
    .mainsldslide {
        height: 500px;
    }

    .mainsldslide__logo {
        margin-bottom: 30px;
    }

    .mainsldslide h2 {
        font-size: 46px;
        margin-bottom: 30px;
    }

    .mainsldslide a {
        margin-top: 35px;
    }

    .linkssection .linkbox .descr p {
        font-size: 14px;
    }

    .linkssection .linkbox.biglogo .imgwrap {
        max-width: 120px;
        flex: 0 0 120px;
    }

    .linkssection .linkbox.biglogo .descr {
        max-width: calc(100% - 120px);
        flex: 0 0 calc(100% - 120px);
    }

    .subscribe-section .imgwrap {
        padding-right: 40px;
    }

    .subscribe-section .subssectinfo .subssectinfo__field {
        margin-bottom: 15px;
    }

    .offerslistrow .offerslistrow__logos {
        max-width: 18%;
        flex: 0 0 18%;
    }

    .offerslistrow .offerslistrow__rating {
        max-width: 14%;
        flex: 0 0 14%;
    }

    .offerslistrow .offerslistrow__descr p {
        font-size: 15px;
    }

    .bnrsection .bnrsection__descr {
        padding-bottom: 50px;
    }

    .bnrsection .bnrsection__descr p {
        font-size: 32px;
    }
}

@media(max-width:1199.8px) {
    .linkssection .linkbox .descr .title {
        font-size: 16px;
    }

    .linkssection .linkbox {
        padding: 10px;
        min-height: 100px;
    }

    .linkssection .linkbox.biglogo .imgwrap {
        max-width: 100px;
        flex: 0 0 100px;
    }

    .linkssection .linkbox.biglogo .descr {
        max-width: calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
    }

    .offerslistrow .offerslistrow__explore {
        padding: 0 15px;
    }

    .discovermore .discovermore__box.big .descrwrap .title,
    .discovermore .discovermore__box.small .descrwrap .title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .articlebox__img {
        height: 180px;
    }

    .articlebox__descr {
        padding: 20px 15px;
        height: 220px;
    }




    .articlebox__descr .date {
        font-size: 14px;
    }

    .offerslistrow .offerslistrow__descr .title {
        font-size: 20px;
    }

    .info-section p {
        font-size: 16px;
    }
}

@media(max-width:991.8px) {

    .mainsldslide__info {
        padding: 40px 20px 0 40px;
    }

    .mainsldslide h2 {
        font-size: 42px;
    }

    .mainsldslide {
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(#000, 0.4);
        }
    }

    .linkssection .linkbox {
        padding: 20px;
    }

    .linkssection .linkbox .descr .title {
        font-size: 22px;
    }

    .linkssection .linkbox .descr p {
        font-size: 18px;
    }

    .linkssection .linkbox.biglogo .imgwrap {
        max-width: 140px;
        flex: 0 0 140px;
    }

    .linkssection .linkbox.biglogo .descr {
        max-width: calc(100% - 140px);
        flex: 0 0 calc(100% - 140px);
    }

    .linkssection .linkbox .descr {
        padding-left: 25px;
    }

    .subscribe-section .imgwrap {
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }

    .subscribe-section .subssectinfo {
        padding-left: 0;
    }

    .linkssection .col-lg-4 {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .info-section .checklist {
        margin-top: 30px;
    }

    .offerslistrow .offerslistrow__logos,
    .offerslistrow .offerslistrow__rating {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0;
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 10px;
    }

    .offerslistrow .offerslistrow__descr {
        max-width: calc(100% - 180px);
        flex: 0 0 calc(100% - 180px);
    }

    .offerslistrow .offerslistrow__explore {
        max-width: 180px;
        flex: 0 0 180px;
        padding: 0;
    }

    .offerslistrow>div {
        border-right: none;
    }

    .offerslistrow {
        padding: 20px;
    }

    .offerslistrow .offerslistrow__logos .name img {
        max-width: 190px;
    }

    .offerslistrow .offerslistrow__logos .name {
        text-align: left;
    }

    .ratingwrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;

        .generalration {
            order: 2;
        }

        .stars-rating {
            order: 1;
            margin: 0 15px 0 0 !important;
        }
    }

    .offerslistrow .offerslistrow__descr,
    .offerslistrow .offerslistrow__explore {
        padding-top: 20px;
        padding-left: 0;
    }

    .offerslistrow .offerslistrow__descr .title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .offerslistrow .offerslistrow__descr p {
        font-size: 16px;
    }

    .offerslistrow .offerslistrow__explore {
        align-items: flex-start;
        margin-top: 15px;
    }

    .bnrsection {
        height: 400px;
    }

    .bnrsection .bnrsection__descr {
        padding-bottom: 30px;

        p {
            margin-bottom: 30px;
        }
    }

    .discovermore .discovermore__box {
        margin-bottom: 20px;
    }

    .discovermore .discovermore__box.small {
        display: block;
        height: auto;

        .imgwrap {
            max-width: 100%;
            border-right: none;
            border-bottom: 1px solid #D8D8D8;
            height: 280px;
        }

        .descrwrap .arrow {
            margin: 0;
            position: absolute;
            right: 30px;
            bottom: 40px;
        }
    }

    .discovermore .discovermore__box.big .descrwrap .title,
    .discovermore .discovermore__box.small .descrwrap .title {
        font-size: 24px;
    }

    .discovermore .discovermore__box .imgwrap img {
        max-width: 100%;
        max-height: 90%;
    }

    .discovermore .discovermore__box.small .descrwrap {
        max-width: calc(100% - 80px);
    }


}

@media(max-width:767.8px) {
    .mainsldslide__info {
        padding: 30px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 20px;
    }

    .offerslistrow .offerslistrow__descr,
    .offerslistrow .offerslistrow__explore {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0;
    }

    .articlebox__img {
        height: 220px;
    }

    .articlebox__descr h6 {
        font-size: 22px;
    }

    .articlebox {
        margin-bottom: 30px;
    }



}

@media(max-width:575.8px) {

    .mainsldslide__logo {
        max-height: 26px;
        position: absolute;
        left: 20px;
        top: 30px;
    }

    .mainsldslide__info {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 60px 20px 50px;
    }

    .mainsldslide h2 {
        font-size: 30px;
        text-align: center;

        br {
            display: none;
        }
    }

    .mainsldslide p {
        text-align: center;
    }

    .mainsldslide a {
        margin: 25px auto;
        display: flex;
        width: 180px;
    }

    .mainsldslide {
        height: calc(100vh - 110px);
    }

    .linkssection .linkbox {
        padding: 16px;
    }

    .linkssection .linkbox .descr {
        padding-left: 16px;
    }

    .linkssection .linkbox.biglogo .imgwrap {
        max-width: 100px;
        flex: 0 0 100px;
    }

    .linkssection .linkbox.biglogo .descr {
        max-width: calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
    }

    .linkssection .col-lg-4 {
        margin-bottom: 10px;
    }

    .subscribe-section .subssectinfo .subssectinfo__field input,
    .subscribe-section .subssectinfo .subssectinfo__field button {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .subscribe-section .subssectinfo .subssectinfo__field input {
        height: 50px;
        margin-bottom: 9px;
    }

    .subscribe-section .subssectinfo .check-filed label:after {
        top: 50%;
        transform: translateY(-50%);
    }

    .info-section .checklist {
        margin-top: 40px;
    }

    .info-section .checklist li {
        padding-left: 75px;
    }

    .offerslistrow {
        padding: 20px 12px;
    }

    .offerslistrow .offerslistrow__rating .generalration {
        display: none;
    }

    .offerslistrow .offerslistrow__rating .stars-rating {
        margin-right: 0 !important;
    }

    .offerslistrow .offerslistrow__logos .name img {
        max-width: 120px;
    }

    .offerslistrow__label {
        margin-top: 10px;
    }

    .offerslistrow-wrap>p {
        font-size: 12px;
        line-height: 140%;
    }

    .offerslistrow-wrap:last-child p {
        margin-bottom: 0;
    }

    .bnrsection {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(#000, 0.4);
        }

        .bnrsection__descr {
            padding-bottom: 0;

            p {
                font-size: 28px;
            }
        }
    }

    .discovermore {

        .discovermore__box.big,
        .discovermore__box.small {

            .imgwrap {
                height: 200px;
            }


            .descrwrap {
                padding: 20px 12px;
                height: auto;
                max-width: 100%;

                .title {
                    font-size: 18px;
                }

                p {
                    padding-right: 0;
                    font-size: 14px;
                }

                .arrow {
                    position: relative;
                    top: 0;
                    right: 0;
                    margin-top: 20px;
                    margin-top: 10px;
                }
            }
        }

    }

    .articlebox__descr {
        height: auto;
    }








    .offerslistrow .offerslistrow__descr .title {
        margin-bottom: 10px;
    }

    .linkssection .linkbox .descr .title,
    .info-section .checklist li .title,
    .offerslistrow .offerslistrow__descr .title,
    .articlebox__descr h6 {
        font-size: 18px;
    }

    .subscribe-section .subssectinfo label {
        font-size: 16px;
    }

    .linkssection .linkbox .descr p,
    .info-section .checklist li p,
    .offerslistrow .offerslistrow__descr p,
    .articlebox__descr .descr {
        font-size: 14px;
    }

    .subscribe-section .subssectinfo .title {
        font-size: 24px;
    }

    .subscribe-section,
    .info-section,
    .offerslist,
    .discovermore,
    .articlessection {
        padding: 50px 0;
    }

}