.categorysection {}

.category-filter {
    width: 100%;
    max-width: 320px;
    flex: 0 0 320px;
    padding-right: 40px;
}

.category-content {
    width: 100%;
    max-width: calc(100% - 320px);
    flex: 0 0 calc(100% - 320px);
}

.categorysection {
    padding: 80px 0;
}

.category-filter {
    padding-top: 10px;
}

.catfilter-box .catfilter-box__filling {
    padding-bottom: 40px;
}

.catfilter-box__title {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    color: $main-dark-text;
    margin-bottom: 30px;
    padding-left: 30px;
    cursor: pointer;

    &::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 5px;
        background: url('../img/category/filter-arrow.svg') no-repeat center / 100%;
        transform: rotate(-180deg);
        transition: 0.5s;
    }

    &.rotate {
        &::after {
            transform: rotate(0);
        }
    }
}

.catfilter__showall {
    padding: 0;
    background: transparent;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: $main-dark-text;

    img {
        margin-left: 6px;
        width: 18px;
        transition: 0.3s;
    }

    &.rotate {
        img {
            transform: rotate(-180deg);
        }
    }
}


.filtercheckboxes {
    .checkfield {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        input {
            display: none;

            &:checked {
                &+label {
                    &::after {
                        background-image: url(../img/general/check.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: rgb(18, 18, 18);
                    }
                }
            }

            &:disabled {
                &+label {
                    opacity: 0.5;
                    cursor: initial;
                }
            }
        }

        label {
            color: $main-dark-text;
            position: relative;
            padding-left: 34px;
            cursor: pointer;

            span {
                margin-left: 2px;
                color: $second-text;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 22px;
                height: 22px;
                border-radius: 4px;
                border: 1px solid $main-dark-text;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        &:nth-child(n+10) {
            display: none;
        }
    }

    &.showallbox {
        .checkfield {
            &:nth-child(n+10) {
                display: block;
            }
        }
    }
}

.rangeslider-wrapper {
    max-width: 280px;
}

.extra-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        height: 50px;
        width: 130px;
        border-radius: 4px;
        border: 1px solid #D8D8D8;
        padding: 0 15px;
        font-size: 16px;
        font-family: "Inter", sans-serif;
        color: $main-dark-text;
    }

    span {
        color: #D8D8D8;
    }
}

.range-slider {
    position: relative;
    height: 40px;
}

.irs--round .irs-bar {
    background: $second-blue;
}

.irs--round .irs-handle {
    background: #8CD5C4;
    border: 4px solid hsl(166, 68%, 79%);
}

.irs--round .irs-min,
.irs--round .irs-max,
.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
    display: none;
}

.resetfilter {
    padding: 0;
    background: transparent;
    text-decoration: underline;
    color: $main-dark-text;
    border: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.category-topsection {
    display: flex;
    flex-wrap: wrap;

    .category-topsection__left {
        width: 100%;
        max-width: calc(100% - 100px);
        flex: 0 0 calc(100% - 100px);
    }

    .category-topsection__right {
        width: 100%;
        max-width: 100px;
        flex: 0 0 100px;
    }
}

.category-topsection__right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    button {
        border: none;
        background: transparent;
        padding: 0;
        width: 40px;
        height: 40px;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        cursor: pointer;

        &.active {
            background: #EEF7F5;
            border-color: #EEF7F5;

            img {}
        }
    }
}

.category-topsection {
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    padding: 20px;
    margin-bottom: 60px;
}

.category-topsection__left {
    .selectwrap {
        label {
            color: #333;
            line-height: 150%;
            margin-right: 16px;
        }

        .select2-container {
            width: 200px !important;
        }

        .select2-container--default .select2-selection--single {
            border: 1px solid #D8D8D8;
            height: 50px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 50px;
            color: $main-dark-text;
            padding-left: 15px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 50px;
            right: 10px;
            background: url(../img/category/select-arr.svg) no-repeat center / 18px;

            b {
                display: none;
            }
        }



    }

    .selectedfilter {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .selectedfilter__box {
        margin-bottom: 5px;
        display: inline-flex;
        height: 46px;
        align-items: center;
        justify-content: center;
        color: $second-text;
        font-weight: 500;
        border-radius: 4px;
        border: 1px solid #D8D8D8;
        position: relative;
        padding: 5px 34px 5px 16px;
        margin-right: 6px;

        .remove {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            padding: 0;
            outline: none;
            background: transparent;
            cursor: pointer;

            img {
                vertical-align: top;
            }
        }
    }

    .resetfilter {
        margin-left: 10px;
    }

}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: rgb(53, 88, 110);
}

.categorysection {
    background: #fff;
}

.category-products {
    // .col-xl-4 {
    //     border-right: 1px solid #D8D8D8;
    //     border-bottom: 1px solid #D8D8D8;

    //     &:nth-child(-n + 3) {
    //         // border-top: none;
    //     }

    //     &:nth-child(3n) {
    //         border-right: none;
    //     }

    //     &:nth-last-child(-n + 3) {
    //         // border-bottom: none;
    //     }
    // }

    .col-xl-4 {
        border-right: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;

        &:nth-child(-n + 3) {
            border-top: none;
        }

        &:nth-child(3n) {
            border-right: none;
        }

        &:nth-last-child(1):nth-child(3n + 1) {
            border-bottom: none;
        }

        &:nth-last-child(1):nth-child(3n + 2),
        &:nth-last-child(2):nth-child(3n + 1) {
            border-bottom: none;
        }

        &:nth-last-child(1):nth-child(3n + 0),
        &:nth-last-child(2):nth-child(3n + 2),
        &:nth-last-child(3):nth-child(3n + 1) {
            border-bottom: none;
        }
    }
}

.catproductbox {
    padding: 40px;

    .imgwrap {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: calc(100% - 20px);
            max-height: calc(100% - 20px);
        }
    }

    .descrwrap {
        padding-top: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 312px;

        .descrwrap__top {
            .title {
                margin-bottom: 18px;
                font-size: 20px;
                font-weight: 500;
                line-height: 130%;
                color: $main-dark-text;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .descr {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }


        }

        .descrwrap__bott {
            .price {
                background: rgba(#A5E1D3, 0.1);
                margin-bottom: 15px;
                padding: 6px;
                font-size: 22px;
                color: $second-blue;
                font-weight: 500;
                line-height: 130%;

                span {
                    margin-left: 2px;
                    display: inline-block;
                    font-weight: 700;
                }
            }

            .abluebtn {
                width: 100%;
            }

        }
    }

}

.pagination-section {
    position: relative;
    text-align: center;
    margin-top: 40px;

    ul {
        display: inline-flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 10px;

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 38px;
                height: 38px;
                vertical-align: top;
                font-size: 20px;
                transition: 0.5s;

                img {
                    vertical-align: top;
                }

                &.pag-arr {
                    background: #8CD5C4;
                    border-radius: 50%;

                    svg path {
                        transition: 0.5s;
                    }

                    &:hover {
                        background: rgb(53, 88, 110);

                        svg {
                            path {
                                stroke: #fff;
                            }
                        }
                    }
                }
            }

            &.active {
                a {
                    color: #005FC9;
                    font-weight: 600;
                }
            }
        }
    }

    .showingpage {
        position: absolute;
        left: 0;
        margin: 0;
        color: #8D8D8D;
        top: 8px;
    }
}

.filter-btn {
    display: none;
}

.mobfilterhead {
    display: none;
}

.category-products.rowsect {
    .col-xl-4.col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
        border: 1px solid #D8D8D8;
        border-bottom: none;

        &:last-child {
            border-bottom: 1px solid #D8D8D8;
        }
    }

    .catproductbox {
        display: flex;
        padding: 20px 40px;

        .imgwrap {
            width: 100%;
            max-width: 280px;
            flex: 0 0 280px;
            height: 250px;
        }

        .descrwrap {
            width: 100%;
            max-width: calc(100% - 280px);
            flex: 0 0 calc(100% - 280px);
            height: auto;
            flex-direction: initial;

            .descrwrap__top {
                width: 100%;
                max-width: calc(100% - 200px);
                flex: 0 0 calc(100% - 200px);
                padding-right: 40px;

                .descr {
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .descrwrap__bott {
                width: 100%;
                max-width: 200px;
                flex: 0 0 200px;
            }
        }

        .descrwrap__bott {
            display: flex;
            align-items: center;
        }
    }


}

.usefulinfo.mt {
    margin-top: 80px;
}

.rangeslider__btn {
    border: none;
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
}

@media(max-width:1599.8px) {
    .catproductbox .imgwrap {
        height: 200px;
    }

    .catproductbox {
        padding: 30px;
    }

    .catproductbox .descrwrap {
        height: 300px;
    }

}

@media(max-width:1399.8px) {

    .category-filter {
        max-width: 280px;
        flex: 0 0 280px;
    }

    .category-content {
        max-width: calc(100% - 280px);
        flex: 0 0 calc(100% - 280px);
    }

    .catproductbox {
        padding: 20px;
    }

    .catproductbox .imgwrap {
        height: 170px;
    }

    .catproductbox .descrwrap .descrwrap__top .title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .catproductbox .descrwrap .descrwrap__top .descr {
        font-size: 15px;
    }

    .catproductbox .descrwrap .descrwrap__bott .price {
        font-size: 18px;
    }

    .catproductbox .descrwrap {
        height: 270px;
    }

    .category-products.rowsect .catproductbox .imgwrap {
        height: 200px;
        max-width: 220px;
        flex: 0 0 220px;
    }

    .category-products.rowsect .catproductbox .descrwrap {
        max-width: calc(100% - 220px);
        flex: 0 0 calc(100% - 220px);
    }

    .category-products.rowsect .catproductbox {
        padding: 20px;
    }

    .descrwrap {
        padding-top: 0;
        padding-left: 20px;
    }





}

@media(max-width:1199.8px) {
    .catproductbox .descrwrap {
        padding-left: 0;
    }

    .extra-controls input {
        width: calc(50% - 10px);
    }

    .pagination-section .showingpage {
        position: relative;
        top: 0;
        margin-bottom: 20px;
    }

    .category-products .col-xl-4 {
        border-right: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;

        &:nth-child(3n) {
            border-right: 1px solid #D8D8D8;
        }

        &:nth-last-child(1):nth-child(3n + 1) {
            border-bottom: 1px solid #D8D8D8;
        }

        &:nth-last-child(1):nth-child(3n + 2),
        &:nth-last-child(2):nth-child(3n + 1) {
            border-bottom: 1px solid #D8D8D8;
        }

        &:nth-last-child(1):nth-child(3n + 0),
        &:nth-last-child(2):nth-child(3n + 2),
        &:nth-last-child(3):nth-child(3n + 1) {
            border-bottom: 1px solid #D8D8D8;
        }

        &:nth-child(2n) {
            border-right: none;
        }

        &:nth-last-child(1):nth-child(2n + 1) {
            border-bottom: none;
        }
        &:nth-last-child(1):nth-child(2n + 2),
        &:nth-last-child(2):nth-child(2n + 1) {
            border-bottom: none;
        }

    }

    .category-products.rowsect .catproductbox .imgwrap {
        max-width: 180px;
        flex: 0 0 180px;
    }

    .category-products.rowsect .catproductbox .descrwrap {
        max-width: calc(100% - 180px);
        flex: 0 0 calc(100% - 180px);
    }

    .category-products.rowsect .catproductbox .descrwrap {
        padding-top: 0;
        flex-wrap: wrap;
    }

    .category-products.rowsect .catproductbox .descrwrap .descrwrap__top {
        max-width: 100%;
        flex: 0 0 100%;
        padding-right: 0;
        margin-bottom: 15px;
    }





}

@media(max-width:991.8px) {
    .category-topsection .category-topsection__right {
        display: none;
    }

    .category-topsection .category-topsection__left {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .category-topsection__left .selectedfilter,
    .category-topsection__left .selectwrap label {
        display: none;
    }

    .filter-btn {
        display: inline-flex;
        align-items: center;
        padding: 0;
        background: #fff;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        height: 50px;
        width: 100%;
        max-width: 120px;
        flex: 0 0 120px;
        padding: 10px 15px;
        font-size: 18px;
        color: #121212;
        cursor: pointer;

        img {
            margin-right: 6px;
            width: 28px;
        }
    }

    .selectwrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .category-topsection__left .selectwrap .select2-container {
        width: 100% !important;
        max-width: calc(100% - 130px);
        flex: 0 0 calc(100% - 130px);
    }

    .category-content {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .category-filter {
        position: fixed;
        background: #fff;
        z-index: 13;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        overflow: auto;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px;
        transition: 0.5s;
        transform: translateX(100%);

        &.active {
            transform: translateX(0);
        }
    }

    .mobfilterhead {
        align-items: center;
        display: flex;
        border-bottom: 1px solid #D8D8D8;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 30px;

        button {
            width: 100%;
            max-width: 38px;
            flex: 0 0 38px;
            height: 38px;
            background: transparent;
            border: none;
            background: transparent;
        }

        p {
            width: 100%;
            max-width: calc(100% - 38px);
            flex: 0 0 calc(100% - 38px);
            margin: 0;
            font-size: 28px;
            color: #121212;
            font-weight: 500;
        }
    }

    .usefulinfo.mt {
        margin-top: 50px;
    }

    .rangeslider__btn {
        max-width: 280px;
    }
    
}

@media(max-width:767.8px) {
    .category-products .col-xl-4 {
        border: none !important;
        border-bottom: 1px solid #D8D8D8 !important;
    }
}

@media(max-width:575.8px) {
    

    .pagination-section ul li {
        margin: 0 5px;
    }


    .categorysection {
        padding: 50px 0;
    }

    .category-filter {
        padding: 20px;
    }

    .mobfilterhead p {
        font-size: 22px;
    }

    .catfilter-box__title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .catfilter-box__title:after {
        top: 2px;
    }

    .filtercheckboxes .checkfield label {
        font-size: 15px;
    }

    .filtercheckboxes .checkfield label:after {
        top: -1px;
    }

    .filtercheckboxes .checkfield {
        margin-bottom: 10px;
    }

    .catfilter-box .catfilter-box__filling {
        padding-bottom: 20px;
    }

    .usefulinfo.mt {
        margin-top: 30px;
    }

}










// .category-products .col-xl-4 {
//     border: none !important;
//     border-bottom: 1px solid #D8D8D8 !important;
// }