.herosecr.plp {
    padding-top: 45px;

    .heroscreengrid {
        transform: translateY(-40%);
    }

    .breadcrumbsbox {
        padding-top: 15px;
    }

    .imgwrap img {
        margin-top: -20px;
    }
}

.offerlistwrap {
    margin-top: 60px;

    .tablesection__sortrow {
        align-items: center;
        display: flex;

        button {
            padding: 5px 16px;
        }
    }

    .leftsect {
        width: 100%;
        max-width: calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
        display: flex;
        align-items: flex-start;
    }

    .rightsect {
        width: 100%;
        max-width: 300px;
        flex: 0 0 300px;
        text-align: right;

        p {
            margin: 0;
            color: $second-text;

            img {
                vertical-align: middle;
                margin-top: -3px;
            }
        }
    }
}

.offerslists__colname {
    display: flex;
    align-items: center;
    padding: 40px 0 50px;
    flex-wrap: wrap;

    p {
        margin: 0;
        color: rgba(141, 141, 141, 1);
        font-weight: 500;
        padding-left: 20px;
        width: 100%;


        &:nth-child(1) {
            max-width: 21%;
            flex: 0 0 21%;
        }

        &:nth-child(2) {
            max-width: 11%;
            flex: 0 0 11%;
        }

        &:nth-child(3) {
            max-width: 50%;
            flex: 0 0 50%;
        }

        &:nth-child(4) {
            max-width: 18%;
            flex: 0 0 18%;
        }
    }
}

.offerslists {
    .offerslistrow .offerslistrow__descr .title {
        line-height: 130%;
        margin-bottom: 20px;
    }

    .offerslistrow .offerslistrow__explore {
        text-align: center;
    }

    a:not(.abluebtn) {
        display: inline-block;
        margin-top: 20px;
        font-size: 18px;
        color: $main-dark-text;
        line-height: 130%;
        text-decoration: underline;
        text-underline-offset: 3px;

        &:hover {
            text-decoration: none;
        }
    }
}

.articlebox__descr {
    border-top: 1px solid #D8D8D8;
}

.offerslists__colname {
    padding: 25px 0;
}


@media(max-width:1599.8px) {

    .herosecr {
        min-height: 380px;
    }


}

@media(max-width:1199.8px) {
    .tablesection__sortrow {
        .leftsect {
            white-space: nowrap;
            overflow: auto;
        }
    }

    .offerslists__colname p {
        &:nth-child(1) {
            max-width: 18%;
            flex: 0 0 18%;
        }

        &:nth-child(2) {
            max-width: 14%;
            flex: 0 0 14%;
        }

        &:nth-child(3) {
            max-width: 50%;
            flex: 0 0 50%;
        }

        &:nth-child(4) {
            max-width: 18%;
            flex: 0 0 18%;
        }
    }

    .offerslists__colname {
        padding: 20px 0 20px;
    }

}

@media(max-width:991.8px) {
    .herosecr.plp {
        .imgwrap {
            text-align: center;
        }
    }

    .offerlistwrap {
        display: block;
    }

    .offerlistwrap .leftsect,
    .offerlistwrap .rightsect {
       display: block;
       width: 100%;
       max-width: initial;
    }

    .offerlistwrap .tablesection__sortrow {
        white-space: initial;
        overflow: initial;
    }

    .offerlistwrap .tablesection__sortrow {
     display: block;

     
    }

    .offerlistwrap .rightsect {
        text-align: left;
        padding-top: 15px;
    }

    .offerslists__colname {
        display: none;
    }
    
    .offerlistwrap .leftsect {
        padding-bottom: 20px;

        
        &::-webkit-scrollbar {
            height: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #d8d8d85b;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #bebebe;
            border-radius: 6px;
        }
    }

}

@media(max-width:767.8px) {
    .offerslistrow .offerslistrow__descr {
        padding-right: 0;
    }

    .linkswrap {
        width: 100%;
    }

    .offerslists a:not(.abluebtn) {
        font-size: 16px;
    }

    .offerlistwrap .tablesection__sortrow button {
        vertical-align: top;
    }

}

@media(max-width:575.8px) {
    .herosecr.plp {
        padding-top: 30px;

        .breadcrumbsbox {
            padding-top: 0;
        }
    }

    .herosecr.plp .imgwrap img {
        margin-top: 0;
    }

    


}